[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyparsing = "*"
xmltodict = "*"
requests = "*"
discord-pretty-help = "*"
numexpr = "*"
matplotlib = "*"
"discord.py" = "*"

[dev-packages]

[requires]
python_version = "3"
